<div>
  <div>
    <div class="btn_create" fxLayout fxLayoutAlign="flex-start" fxFlex="40%">
      <h3>Account list</h3>
    </div>
    <ng-container *ngIf="role==1">
      <div class="btn_create" fxLayout fxLayoutAlign="flex-end" fxFlex="10%" fxFlexOffset="50%">
        <a [routerLink]="['/account/create']" class="btn btn-outline-primary">Create</a>
      </div>
    </ng-container>
  </div>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columns | keyvalue" [matColumnDef]="column.key">
      <th mat-sort-header *matHeaderCellDef>{{column.value}}</th>
      <ng-container *ngIf="column.key!='tool'">
        <td mat-cell *matCellDef="let element">{{ element[column.key] }}</td>
      </ng-container>
      <ng-container *ngIf="column.key=='tool'">
       <td class="tool" mat-cell *matCellDef="let element">
         <a [routerLink]="['/account', element.account_number]"><i class="fa fa-eye"></i></a>
         <ng-container *ngIf="role==1">
           <a [routerLink]="['/account/edit', element.account_number]"><i class="fa fa-pencil"></i></a>
           <a href="javascript:void(0)" (click)="deleteAccount(element.account_number)"><i class="fa fa-trash"></i></a>
         </ng-container>
       </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="record_counted"
                [pageSize]="10"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pageEvent = handlePage($event)"
                >
  </mat-paginator>
</div>
