<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" matLine routerLink='/' routerLinkActive="active-link">Home</a>
    </li>
    <li class="nav-item">
       <a class="nav-link" matLine routerLink="/account" routerLinkActive="active-link">Account</a>
    </li>
     <li class="nav-item float-md-right">
       <a class="nav-link" href="JavaScript:void(0);" (click)="logout()">Logout</a>
     </li>
  </ul>
</nav>
<mat-sidenav-container>
  <mat-sidenav-content>
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
