<div fxLayout="row wrap" class="detail_wrap">
  <div class="title" fxFlex="100%">
    <div fxLayout fxLayoutAlign="center">
      <h2>Account Detail</h2>
    </div>
  </div>
  <div fxFlex="50%" fxLayout="row wrap">
    <div fxFlex="30%">
    <label class="detail_label">First name:</label>
    </div>
    <div fxFlex="70%">
    <label>{{data?.firstname}}</label>
    </div>
  </div>
  <div fxFlex="50%">
     <div fxFlex="30%">
    <label class="detail_label">Last name:</label>
    </div>
    <div fxFlex="70%">
    <label>{{data?.lastname}}</label>
    </div>
  </div>
  <div fxFlex="50%">
     <div fxFlex="30%">
    <label class="detail_label">Balance:</label>
    </div>
    <div fxFlex="70%">
    <label>{{data?.balance}}</label>
    </div>
  </div>
  <div fxFlex="50%">
     <div fxFlex="30%">
    <label class="detail_label">Email:</label>
    </div>
    <div fxFlex="70%">
    <label>{{data?.email}}</label>
    </div>
  </div>
  <div fxFlex="50%">
     <div fxFlex="30%">
    <label class="detail_label">Employer:</label>
    </div>
    <div fxFlex="70%">
    <label>{{data?.employer}}</label>
    </div>
  </div>
  <div fxFlex="50%">
     <div fxFlex="30%">
    <label class="detail_label">Gender:</label>
    </div>
    <div fxFlex="70%">
    <ng-container *ngIf="data?.gender=='M'">
      <label>Male</label>
    </ng-container>
    <ng-container *ngIf="data?.gender=='F'">
      <label>Female</label>
    </ng-container>
    </div>
  </div>
  <div fxFlex="50%">
     <div fxFlex="30%">
    <label class="detail_label">Age:</label>
    </div>
    <div fxFlex="70%">
    <label>{{data?.age}}</label>
    </div>
  </div>
  <div fxFlex="50%">
     <div fxFlex="30%">
    <label class="detail_label">Address:</label>
    </div>
    <div fxFlex="70%">
    <label>{{data?.address}}</label>
    </div>
  </div>
  <div fxFlex="50%">
     <div fxFlex="30%">
    <label class="detail_label">City:</label>
    </div>
    <div fxFlex="70%">
    <label>{{data?.city}}</label>
    </div>
  </div>
  <div fxFlex="50%">
     <div fxFlex="30%">
    <label class="detail_label">State:</label>
    </div>
    <div fxFlex="70%">
    <label>{{data?.state}}</label>
    </div>
  </div>
  <div fxFlex="100%">
    <div fxLayoutAlign="center" class="btn">
      <button type="button" class="btn btn-outline-primary" (click)="Back()">Back</button>
    </div>
  </div>
</div>

