<div class="login">
  <h1>Welcome</h1>
  <form (ngSubmit)="onSubmit($event)" [formGroup]="loginForm">
    <div class="form-group">
      <label for="username">Tài khoản</label>
      <input id="username" type="text" class="form-control" placeholder="Tài khoản" formControlName="username"
              [ngClass]="{ 'is-invalid': form_invalid && loginForm.get('username').invalid}"
             [ngClass]="{ 'is-invalid': form_invalid && loginForm.get('username').invalid}"
      >
      <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched)" class="alert-sm alert-danger">
        <div *ngIf="loginForm.get('username').errors.required">
          Tài khoản không được bỏ trống.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Mật khẩu</label>
      <input id="password" type="password" class="form-control" placeholder="Mật khẩu" formControlName="password"
              [ngClass]="{ 'is-invalid': form_invalid && loginForm.get('password').invalid}"
      >
      <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)" class="alert-sm alert-danger">
        <div *ngIf="loginForm.get('password').errors.required">
          Mật khẩu không được bỏ trống.
        </div>
      </div>
    </div>
    <ng-container *ngIf="Invalid">
      <div class="alert-sm alert-danger">
        Tài khoản hoặc mật khẩu không đúng
      </div>
    </ng-container>
    <div fxLayoutAlign="center">
      <button type="submit" class="btn btn-outline-primary">Login</button>
    </div>
  </form>
</div>
