<!-- The Modal -->
  <div>
      <!-- Modal Header -->
      <div class="modal-header">
        <h3>Confirm Delete</h3>
        <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are your sure to delete ....
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="decline()">No</button>
        <button type="button" class="btn btn-outline-danger" (click)="accept()">Yes</button>
      </div>
  </div>

