<h3>baseForm</h3>
<div class="out_form">
	<div class="baseForm">
		<h4>{{title_form}}</h4>
	  	<form (ngSubmit)="onSubmit()" [formGroup]="form">
			<ng-container *ngIf="row_form == 1">
				<ng-container *ngFor="let field of model">
					<ng-container [ngSwitch]="field.controlType">
						<div fxLayout="column" class="field">
							<!-- Automatically generate form -->
							<div fxFlex="100%">
								<label fxFlex="20%" for="{{field.key}}">{{field.label}}</label>

								<input fxFlex="80%" *ngSwitchCase="'textbox'" formControlName="{{field.key}}"
                  class="form-control form-control-sm" [ngClass]="{ 'is-invalid': form_invalid && form.get(field.key).invalid}"
                  type="{{field.type}}" id="{{field.key}}" pattern="{{field.pattern}}"
                >

								<select fxFlex="80%" *ngSwitchCase="'dropdown'" formControlName="{{field.key}}"
								  class="form-control form-control-sm"  id = "{{field.key}}" [ngClass]="{ 'is-invalid': form_invalid && form.get(field.key).invalid }">
									<ng-container *ngFor="let option of field.options">
										<option [selected]="option.selected" value="{{option.key}}">{{option.value}} {{option.selected}}</option>
									</ng-container>
								</select>
								<textarea fxFlex="80%" *ngSwitchCase="'textarea'" formControlName="{{field.key}}"
								  class="form-control" [ngClass]="{ 'is-invalid': form_invalid && form.get(field.key).invalid }"
							    rows="4" cols="50" pattern="{{field.pattern}}" id = "{{field.key}}">

                </textarea>
							</div>
							<!-- Invalidation notification -->
	      					<div *ngIf="form.get(field.key).invalid && (form.get(field.key).dirty || form.get(field.key).touched)" class="alert-sm alert-danger">
	  							<div *ngIf="form.get(field.key).errors.required">
	    							{{field.label}} không được bỏ trống.
	  							</div>
	  							<div *ngIf="form.get(field.key).errors.pattern">
	    							Ký tự không hợp lệ.
	  							</div>
	  							<div *ngIf="form.get(field.key).errors.minlength">
	  								{{field.label}} ít nhất {{form.get(field.key).errors.minlength.requiredLength}} ký tự
	  							</div>
	  							<div *ngIf="form.get(field.key).errors.maxlength">
	  								{{field.label}} nhiều nhất {{form.get(field.key).errors.maxlength.requiredLength}} ký tự
	  							</div>
	  							<div *ngIf="form.get(field.key).errors.min">
	  								{{field.label}} nhỏ nhất là: {{form.get(field.key).errors.min.min}}
	  							</div>
	  							<div *ngIf="form.get(field.key).errors.max">
	  								{{field.label}} lớn nhất là: {{form.get(field.key).errors.max.max}}
	  							</div>
							</div>
						</div>
					</ng-container>
				</ng-container>
			</ng-container>

			<ng-container *ngIf="row_form == 2">
				<div fxLayout="row wrap">
					<ng-container *ngFor="let field of model">
						<ng-container [ngSwitch]="field.controlType">
							<div fxFlex="50%">
								<div class="field">
									<label fxFlex="20%" for="{{field.key}}">{{field.label}}</label>

                  <input fxFlex="80%" *ngSwitchCase="'textbox'" formControlName="{{field.key}}"
                    class="form-control form-control-sm" [ngClass]="{ 'is-invalid': form_invalid && form.get(field.key).invalid}"
                    type={{field.type}} id="{{field.key}}" pattern="{{field.pattern}}"
                  >

									<select fxFlex="80%" *ngSwitchCase="'dropdown'" formControlName="{{field.key}}"
									  class="form-control form-control-sm"  id="{{field.key}}" [ngClass]="{ 'is-invalid': form_invalid && form.get(field.key).invalid }">
										<ng-container *ngFor="let option of field.options">
											<option [selected]="option.selected" value="{{option.key}}">{{option.value}} {{option.selected}}</option>
										</ng-container>
									</select>
									<textarea fxFlex="80%" *ngSwitchCase="'textarea'" formControlName="{{field.key}}"
									  class="form-control" [ngClass]="{ 'is-invalid': form_invalid && form.get(field.key).invalid }"
								    rows="4" cols="50" pattern="{{field.pattern}}" id="{{field.key}}">
                  </textarea>
								</div>

								<div *ngIf="form.get(field.key).invalid && (form.get(field.key).dirty || form.get(field.key).touched)" class="alert-sm alert-danger">
									<div *ngIf="form.get(field.key).errors.required">
									  {{field.label}} không được bỏ trống.
									</div>
									<div *ngIf="form.get(field.key).errors.pattern">
									  Ký tự không hợp lệ.
									</div>
                  <div *ngIf="form.get(field.key).errors.email">
									  Ký tự không hợp lệ.
									</div>
									<div *ngIf="form.get(field.key).errors.minlength">
										{{field.label}} ít nhất {{form.get(field.key).errors.minlength.requiredLength}} ký tự
									</div>
									<div *ngIf="form.get(field.key).errors.maxlength">
										{{field.label}} nhiều nhất {{form.get(field.key).errors.maxlength.requiredLength}} ký tự
									</div>
									<div *ngIf="form.get(field.key).errors.min">
										{{field.label}} nhỏ nhất là: {{form.get(field.key).errors.min.min}}
									</div>
									<div *ngIf="form.get(field.key).errors.max">
										{{field.label}} lớn nhất là: {{form.get(field.key).errors.max.max}}
									</div>
								</div>
							</div>
						</ng-container>
					</ng-container>
				</div>
			</ng-container>
      <div class="alert-sm alert-danger" fxLayoutAlign="center" *ngIf="existed_email">
        Email đã tồn tại
      </div>
      <div class="alert-sm alert-danger" fxLayoutAlign="center" *ngIf="min_age_invalid">
        Tuổi lớn hơn 0
      </div>
      <div class="alert-sm alert-danger" fxLayoutAlign="center" *ngIf="min_balance_invalid">
        Số dư lớn hơn 0
      </div>
      <div class="alert-sm alert-danger" fxLayoutAlign="center" *ngIf="required_email_invalid">
        Mời nhập E-mail
      </div>
      <div class="alert-sm alert-danger" fxLayoutAlign="center" *ngIf="email_invalid">
        Email không hợp lệ
      </div>

			<div fxLayoutAlign="center">
      			<button  type="submit" class="btn btn-outline-primary">{{function_button}}</button>
      			<button fxFlexOffset="20px" type="button" class="btn btn-outline-primary" (click)="goBack()">Back</button>
    		</div>
	    </form>
	</div>
</div>
<!--[disabled]="!form.valid"-->
