.out_form{
	padding: 20px 40px 30px 40px;

	.baseForm{
		padding: 10px;
		background: #fff;
		box-shadow: 0 3px 4px 3px #c9c9c9;

		form{
			padding: 10px 20px 20px 20px;
		}
		.field{
			padding: 10px;
			margin-bottom: 10px;
		}
	}
}